In [86]:
import boto3

session = boto3.Session() # Grabs session details directly from aws configuration in EC2 instance running the Notebook server
session

Session(region_name='eu-central-1')

In [87]:
s3r = session.resource("s3")
s3r

s3.ServiceResource()

In [110]:
#for bucket in s3r.buckets.all():
  #print(bucket)

SyntaxError: unexpected EOF while parsing (<ipython-input-110-c6844b4121f5>, line 2)

In [89]:
bucket = s3r.Bucket('aida-project')
files=[]
for obj in bucket.objects.all():
  if obj.key.startswith("Covid"):
   # print(obj.key)
    if obj.key.endswith("csv"):
        files.append(obj.key)
for file in files:
    print(file)

Covid-19/1/owid-covid-data.csv
Covid-19/2/covid-19-at.csv
Covid-19/2/covid-19-be.csv
Covid-19/2/covid-19-ch.csv
Covid-19/2/covid-19-cz.csv
Covid-19/2/covid-19-de.csv
Covid-19/2/covid-19-ecdc.csv
Covid-19/2/covid-19-england.csv
Covid-19/2/covid-19-fr.csv
Covid-19/2/covid-19-hu.csv
Covid-19/2/covid-19-ie.csv
Covid-19/2/covid-19-it.csv
Covid-19/2/covid-19-nl.csv
Covid-19/2/covid-19-no.csv
Covid-19/2/covid-19-pl.csv
Covid-19/2/covid-19-scotland.csv
Covid-19/2/covid-19-se.csv
Covid-19/2/covid-19-si.csv
Covid-19/2/covid-19-uk.csv
Covid-19/2/covid-19-wales.csv
Covid-19/3/time_series_covid19_confirmed_US.csv
Covid-19/3/time_series_covid19_confirmed_global.csv
Covid-19/3/time_series_covid19_deaths_US.csv
Covid-19/3/time_series_covid19_deaths_global.csv
Covid-19/3/time_series_covid19_recovered_global.csv
Covid-19/4/covid_jpn_metadata.csv
Covid-19/4/covid_jpn_prefecture.csv
Covid-19/4/covid_jpn_total.csv
Covid-19/5/brazil_cities_coordinates.csv
Covid-19/5/brazil_covid19.csv
Covid-19/5/brazil_covid19_cities.csv
Covid-19/5/brazil_covid19_macro.csv
Covid-19/5/brazil_covid19_old.csv
Covid-19/5/brazil_population_2019.csv
Covid-19/6/StatewiseTestingDetails.csv
Covid-19/6/covid_19_india.csv
Covid-19/output/country_details.csv
Covid-19/output/owid_clean.csv
Covid-19/output/predictions_for_tableau.csv

In [90]:
def df_investigate(df):
  info = pd.DataFrame(df.count(), columns=['filled'])
  info['filled %'] = round(info['filled'] / len(df), 4)*100
  info['nunique'] = df.nunique()
  info['uniques'] = np.nan
  info['dtypes'] = df.dtypes
  for idx, row in info.iterrows():
    if row['nunique'] < 10:
      info.loc[idx, 'uniques'] = str(list(df[idx].unique()))
  return info

In [91]:
import pandas as pd
import numpy as np
cols={}
investigation={}
for i in range(len(files)):
    nstars=62 - len(files[i])
    #print((nstars + 4)*'*')
    #print('* ',files[i],' *')
    #print((nstars + 4)*'*')
    file_check = "s3://" + bucket.name + "/" + files[i]

    # get the training data
    df = pd.read_csv(file_check, error_bad_lines=False)
    
    """
    print(df.head(3))
    print("\n",30*'=')
    print('   Investigation')
    print(30*'=',"\n")
    """
    
    inv = df_investigate(df)
    #print(files[i])
    #print(inv)
    
    investigation[files[i]]=inv
    #print(investigation)
    cols[files[i]] = df.columns.values.tolist()
    # print(cols)

b'Skipping line 1282: expected 8 fields, saw 9\nSkipping line 1283: expected 8 fields, saw 9\nSkipping line 1293: expected 8 fields, saw 9\nSkipping line 1294: expected 8 fields, saw 9\nSkipping line 1300: expected 8 fields, saw 9\nSkipping line 1308: expected 8 fields, saw 9\nSkipping line 1309: expected 8 fields, saw 9\nSkipping line 1314: expected 8 fields, saw 9\nSkipping line 1319: expected 8 fields, saw 9\nSkipping line 1320: expected 8 fields, saw 9\nSkipping line 1321: expected 8 fields, saw 9\nSkipping line 1323: expected 8 fields, saw 9\n'

In [92]:
# link2: 1,20
# link3: 20,25
# link4: 25,28
# link5: 28,34
# link6: 34,36



for i in range(28,34):
    print(files[i],"\n",cols[files[i]])

Covid-19/5/brazil_cities_coordinates.csv
 ['state_code', 'city_code', 'city_name', 'lat', 'long', 'capital']
Covid-19/5/brazil_covid19.csv
 ['date', 'region', 'state', 'cases', 'deaths']
Covid-19/5/brazil_covid19_cities.csv
 ['date', 'state', 'name', 'code', 'cases', 'deaths']
Covid-19/5/brazil_covid19_macro.csv
 ['date', 'country', 'week', 'cases', 'deaths', 'recovered', 'monitoring']
Covid-19/5/brazil_covid19_old.csv
 ['date', 'hour', 'state', 'suspects', 'refuses', 'cases', 'deaths']
Covid-19/5/brazil_population_2019.csv
 ['region', 'state', 'city', 'state_code', 'city_code', 'health_region_code', 'health_region', 'population']

In [93]:
investigation['Covid-19/2/covid-19-nl.csv']

                        filled  filled %  nunique uniques   dtypes
country                 141580    100.00        1  ['NL']   object
lau                     141467     99.92      369     NaN   object
cases                   135916     96.00     1357     NaN  float64
population              139030     98.20     1084     NaN  float64
cases/100k pop.           4970      3.51     1070     NaN  float64
deaths                  141580    100.00      157     NaN    int64
hospitalized            134173     94.77      792     NaN  float64
hospitalized/100k pop.    2832      2.00      447     NaN  float64
datetime                141580    100.00      164     NaN   object

In [94]:
### Owid Clean

In [95]:
# get data 
file_check = "s3://" + bucket.name + "/" + files[0]

df_owid = pd.read_csv(file_check, error_bad_lines=False)
df_owid.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,NaN,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,NaN,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
3,ABW,North America,Aruba,2020-03-21,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
4,ABW,North America,Aruba,2020-03-22,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN

In [96]:
# get 'World' and 'International' out
df_owid_clean_line = df_owid['location'].isin(['World','International'])
#df_owid_clean_line = df_owid['location']=='International'
df_owid_clean = df_owid.loc[~ df_owid_clean_line,:]
#df_owid_clean['location'].unique()

In [97]:
df_owid_clean.to_csv('owid_clean.csv', header=True, index=False)
bucket.upload_file(Filename="owid_clean.csv", Key='Covid-19/output/owid_clean.csv')

In [98]:
#***********************************************************************************

In [99]:
### Chris_Tabelle: country_details.csv

In [100]:
# total_cases -> new cases


# create Dataframe
# France
df_country_details=pd.read_csv("s3://" + bucket.name + "/" + files[8],error_bad_lines=False )
df_country_details.columns =['country', 'lau', 'cases', 'datetime']

# Germany
df_dt=pd.read_csv("s3://" + bucket.name + "/" + files[5],error_bad_lines=False )
df_dt = df_dt.drop(columns= ['cases', 'datetime'], axis=1)
df_dt.columns = ['country', 'lau', 'cases', 'datetime']
df_country_details= pd.concat([df_country_details, df_dt], ignore_index=True)

# Austria
df_at=pd.read_csv("s3://" + bucket.name + "/" + files[1],error_bad_lines=False )
df_at = df_at.drop(columns= ['recovered', 'deaths', 'tests','hospitalized', 'intensive_care'], axis=1)
df_at.columns = ['country', 'lau', 'cases', 'datetime']  
df_country_details= pd.concat([df_country_details, df_at], ignore_index=True)


# Belgium
df_be=pd.read_csv("s3://" + bucket.name + "/" + files[2],error_bad_lines=False )
df_be = df_be.drop(columns= ['nuts_2',  'deaths', 'hospitalized','intensive_care',], axis=1)
df_be.columns = ['country', 'lau', 'cases', 'datetime']
df_country_details= pd.concat([df_country_details, df_be], ignore_index=True)



# Switzerland
df_ch=pd.read_csv("s3://" + bucket.name + "/" + files[3],error_bad_lines=False )
df_ch = df_ch.drop(columns= ['nuts_3_code', 'deaths', 'tests','hospitalized', 'intensive_care'], axis=1)
df_ch.columns = ['country', 'lau', 'cases', 'datetime']
df_country_details= pd.concat([df_country_details, df_ch], ignore_index=True)

In [101]:
print('france   '+str(df_country_details.shape))
print('germany   '+str(df_dt.shape))
print('austria   '+str(df_at.shape))
print('belgium   '+str(df_be.shape))
print('switzerland   '+str(df_ch.shape))

print('new   '+ str(df_country_details.shape))

france   (23885, 4)
germany   (4560, 4)
austria   (7278, 4)
belgium   (3271, 4)
switzerland   (8424, 4)
new   (23885, 4)

In [154]:
# total_cases -> new cases
# France
df_fr=pd.read_csv("s3://" + bucket.name + "/" + files[8],error_bad_lines=False )
#df_a=pd.read_csv("s3://" + bucket.name + "/" + files[7],error_bad_lines=False )

# wie komme ich an den vorgänger entry ran?

for i, entry in enumerate(df_fr['cases']):
    if i>0:
        if entry < df_fr['cases'][i-1]:
            print(entry)
            df_fr['cases'][i]=entry
    else:
        df_fr['cases'][i]
        print(df_fr['cases'][i])

0
0
0
0
1
1
3
3
3
3
3
3
3
3
3
3

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
'''
        df_fr['cases'][i]=entry
    else:
        df_fr['cases'][i]=df_fr.cases[i-1]-entry

    i=+1
    if i>10:
        break

# beispiel:
a_list = [1,2,3,4,5]

for index, elem in enumerate(a_list):
    if (index+1 < len(a_list) and index - 1 >= 0):
Check index bounds

        prev_el = str(a_list[index-1])
        curr_el = str(elem)
        next_el = str(a_list[index+1])

        print(prev_el, curr_el, next_el)
'''

In [121]:


import pandas as pd

df = pd.DataFrame({"A":[1,1,1,2,2,2,1,1,1],"B":[2,5,12,1,1,1,18,2,2]})
df["C"] = df["B"]
work = df.A < df.B
accu = df.B[0]
print(df.B[0])
'''
for i, entry in enumerate(work):
    if entry:
        df.C[i] = accu
    else:
        accu = df.B[i]
print(df)
'''

2

'\nfor i, entry in enumerate(work):\n    if entry:\n        df.C[i] = accu\n    else:\n        accu = df.B[i]\nprint(df)\n'

In [103]:
# join

df_a=pd.read_csv("s3://" + bucket.name + "/" + files[3],error_bad_lines=False )
print(df_a.head())
df_a.columns

  country                  nuts_3 nuts_3_code  cases  deaths  tests  \
0      CH                     NaN         NaN    0.0       0    4.0
1      CH                  Aargau          AG    NaN       0    NaN
2      CH   Appenzell Innerrhoden          AI    NaN       0    NaN
3      CH  Appenzell Ausserrhoden          AR    NaN       0    NaN
4      CH                   Berne          BE    NaN       0    NaN

   hospitalized  intensive_care    datetime
0           0.0             0.0  2020-01-24
1           NaN             NaN  2020-01-24
2           NaN             NaN  2020-01-24
3           NaN             NaN  2020-01-24
4           NaN             NaN  2020-01-24

Index(['country', 'nuts_3', 'nuts_3_code', 'cases', 'deaths', 'tests',
       'hospitalized', 'intensive_care', 'datetime'],
      dtype='object')

In [104]:
print('new   '+ str(df_country_details.shape))

new   (23885, 4)

In [59]:
# upload csv to S3
df_fr.to_csv('country_details.csv', header=True, index=False)
bucket.upload_file(Filename="country_details.csv", Key='Covid-19/output/country_details.csv')