In [1]:
import boto3

session = boto3.Session() # Grabs session details directly from aws configuration in EC2 instance running the Notebook server
session

Session(region_name='eu-central-1')

In [3]:
s3r = session.resource("s3")
s3r

s3.ServiceResource()

In [8]:
for bucket in s3r.buckets.all():
  print(bucket)

s3.Bucket(name='aida-project')
s3.Bucket(name='cseng-1468-bucket')
s3.Bucket(name='flutz-bucket')
s3.Bucket(name='igeokce-s3quest')
s3.Bucket(name='jgodley-q1468')
s3.Bucket(name='jgodley-q1490')
s3.Bucket(name='jpoliak-1468')
s3.Bucket(name='jpoliak1394')
s3.Bucket(name='jpoliak1490')
s3.Bucket(name='mpensel-aida-live')
s3.Bucket(name='niy-certification')
s3.Bucket(name='njeno-auto-ml')
s3.Bucket(name='peckert-1464-bucket')
s3.Bucket(name='peckert-1490-automl')
s3.Bucket(name='sagemaker-eu-central-1-898627427171')
s3.Bucket(name='sagemaker-studio-898627427171-of0968vn9r')
s3.Bucket(name='sharston')
s3.Bucket(name='sjf-project')
s3.Bucket(name='ye-1468')
s3.Bucket(name='ye-1490')

In [19]:
bucket = s3r.Bucket('aida-project')
files=[]
for obj in bucket.objects.all():
  if obj.key.startswith("Covid"):
#    print(obj.key)
    if obj.key.endswith("csv"):
        files.append(obj.key)
for file in files:
    print(file)

Covid-19/1/owid-covid-data.csv
Covid-19/2/covid-19-at.csv
Covid-19/2/covid-19-be.csv
Covid-19/2/covid-19-ch.csv
Covid-19/2/covid-19-cz.csv
Covid-19/2/covid-19-de.csv
Covid-19/2/covid-19-ecdc.csv
Covid-19/2/covid-19-england.csv
Covid-19/2/covid-19-fr.csv
Covid-19/2/covid-19-hu.csv
Covid-19/2/covid-19-ie.csv
Covid-19/2/covid-19-it.csv
Covid-19/2/covid-19-nl.csv
Covid-19/2/covid-19-no.csv
Covid-19/2/covid-19-pl.csv
Covid-19/2/covid-19-scotland.csv
Covid-19/2/covid-19-se.csv
Covid-19/2/covid-19-si.csv
Covid-19/2/covid-19-uk.csv
Covid-19/2/covid-19-wales.csv
Covid-19/3/time_series_covid19_confirmed_US.csv
Covid-19/3/time_series_covid19_confirmed_global.csv
Covid-19/3/time_series_covid19_deaths_US.csv
Covid-19/3/time_series_covid19_deaths_global.csv
Covid-19/3/time_series_covid19_recovered_global.csv
Covid-19/4/covid_jpn_metadata.csv
Covid-19/4/covid_jpn_prefecture.csv
Covid-19/4/covid_jpn_total.csv
Covid-19/5/brazil_cities_coordinates.csv
Covid-19/5/brazil_covid19.csv
Covid-19/5/brazil_covid19_cities.csv
Covid-19/5/brazil_covid19_macro.csv
Covid-19/5/brazil_covid19_old.csv
Covid-19/5/brazil_population_2019.csv
Covid-19/6/StatewiseTestingDetails.csv
Covid-19/6/covid_19_india.csv

In [26]:
def df_investigate(df):
  info = pd.DataFrame(df.count(), columns=['filled'])
  info['filled %'] = round(info['filled'] / len(df), 4)*100
  info['nunique'] = df.nunique()
  info['uniques'] = np.nan
  info['dtypes'] = df.dtypes
  for idx, row in info.iterrows():
    if row['nunique'] < 10:
      info.loc[idx, 'uniques'] = str(list(df[idx].unique()))
  return info

In [111]:
import pandas as pd
import numpy as np
cols={}
investigation={}
for i in range(len(files)):
    nstars=62 - len(files[i])
    print((nstars + 4)*'*')
    print('* ',files[i],' *')
    print((nstars + 4)*'*')
    file_check = "s3://" + bucket.name + "/" + files[i]

    # get the training data
    df = pd.read_csv(file_check, error_bad_lines=False)
    
    """
    print(df.head(3))
    print("\n",30*'=')
    print('   Investigation')
    print(30*'=',"\n")
    """
    
    inv = df_investigate(df)
    investigation[files[i]]=inv
    cols[files[i]] = df.columns.values.tolist()

************************************
*  Covid-19/1/owid-covid-data.csv  *
************************************
****************************************
*  Covid-19/2/covid-19-at.csv  *
****************************************
****************************************
*  Covid-19/2/covid-19-be.csv  *
****************************************
****************************************
*  Covid-19/2/covid-19-ch.csv  *
****************************************
****************************************
*  Covid-19/2/covid-19-cz.csv  *
****************************************
****************************************
*  Covid-19/2/covid-19-de.csv  *
****************************************
**************************************
*  Covid-19/2/covid-19-ecdc.csv  *
**************************************
***********************************
*  Covid-19/2/covid-19-england.csv  *
***********************************
****************************************
*  Covid-19/2/covid-19-fr.csv  *
****************************************
****************************************
*  Covid-19/2/covid-19-hu.csv  *
****************************************
****************************************
*  Covid-19/2/covid-19-ie.csv  *
****************************************
****************************************
*  Covid-19/2/covid-19-it.csv  *
****************************************
****************************************
*  Covid-19/2/covid-19-nl.csv  *
****************************************
****************************************
*  Covid-19/2/covid-19-no.csv  *
****************************************
****************************************
*  Covid-19/2/covid-19-pl.csv  *
****************************************
**********************************
*  Covid-19/2/covid-19-scotland.csv  *
**********************************
****************************************
*  Covid-19/2/covid-19-se.csv  *
****************************************
****************************************
*  Covid-19/2/covid-19-si.csv  *
****************************************
****************************************
*  Covid-19/2/covid-19-uk.csv  *
****************************************
*************************************
*  Covid-19/2/covid-19-wales.csv  *
*************************************
*******************
*  Covid-19/3/time_series_covid19_confirmed_US.csv  *
*******************
***************
*  Covid-19/3/time_series_covid19_confirmed_global.csv  *
***************
**********************
*  Covid-19/3/time_series_covid19_deaths_US.csv  *
**********************
******************
*  Covid-19/3/time_series_covid19_deaths_global.csv  *
******************
***************
*  Covid-19/3/time_series_covid19_recovered_global.csv  *
***************
*********************************
*  Covid-19/4/covid_jpn_metadata.csv  *
*********************************
*******************************
*  Covid-19/4/covid_jpn_prefecture.csv  *
*******************************
************************************
*  Covid-19/4/covid_jpn_total.csv  *
************************************
**************************
*  Covid-19/5/brazil_cities_coordinates.csv  *
**************************
*************************************
*  Covid-19/5/brazil_covid19.csv  *
*************************************
******************************
*  Covid-19/5/brazil_covid19_cities.csv  *
******************************
*******************************
*  Covid-19/5/brazil_covid19_macro.csv  *
*******************************
*********************************
*  Covid-19/5/brazil_covid19_old.csv  *
*********************************
*****************************
*  Covid-19/5/brazil_population_2019.csv  *
*****************************

b'Skipping line 1282: expected 8 fields, saw 9\nSkipping line 1283: expected 8 fields, saw 9\nSkipping line 1293: expected 8 fields, saw 9\nSkipping line 1294: expected 8 fields, saw 9\nSkipping line 1300: expected 8 fields, saw 9\nSkipping line 1308: expected 8 fields, saw 9\nSkipping line 1309: expected 8 fields, saw 9\nSkipping line 1314: expected 8 fields, saw 9\nSkipping line 1319: expected 8 fields, saw 9\nSkipping line 1320: expected 8 fields, saw 9\nSkipping line 1321: expected 8 fields, saw 9\nSkipping line 1323: expected 8 fields, saw 9\n'

****************************
*  Covid-19/6/StatewiseTestingDetails.csv  *
****************************
*************************************
*  Covid-19/6/covid_19_india.csv  *
*************************************

In [112]:
# link2: 1,20
# link3: 20,25
# link4: 25,28
# link5: 28,34
# link6: 34,36



for i in range(28,34):
    print(files[i],"\n",cols[files[i]])

Covid-19/5/brazil_cities_coordinates.csv
 ['state_code', 'city_code', 'city_name', 'lat', 'long', 'capital']
Covid-19/5/brazil_covid19.csv
 ['date', 'region', 'state', 'cases', 'deaths']
Covid-19/5/brazil_covid19_cities.csv
 ['date', 'state', 'name', 'code', 'cases', 'deaths']
Covid-19/5/brazil_covid19_macro.csv
 ['date', 'country', 'week', 'cases', 'deaths', 'recovered', 'monitoring']
Covid-19/5/brazil_covid19_old.csv
 ['date', 'hour', 'state', 'suspects', 'refuses', 'cases', 'deaths']
Covid-19/5/brazil_population_2019.csv
 ['region', 'state', 'city', 'state_code', 'city_code', 'health_region_code', 'health_region', 'population']

In [115]:
investigation['Covid-19/2/covid-19-nl.csv']

                        filled  filled %  nunique uniques   dtypes
country                 141580    100.00        1  ['NL']   object
lau                     141467     99.92      369     NaN   object
cases                   135916     96.00     1357     NaN  float64
population              139030     98.20     1084     NaN  float64
cases/100k pop.           4970      3.51     1070     NaN  float64
deaths                  141580    100.00      157     NaN    int64
hospitalized            134173     94.77      792     NaN  float64
hospitalized/100k pop.    2832      2.00      447     NaN  float64
datetime                141580    100.00      164     NaN   object